*{

    margin:0;

    padding: 0;

    box-sizing: border-box;

    text-decoration: none;

    border: none;

    outline: none;

    font-family: "poppins";

    list-style: none;

}

body{
    background: rgb(15,0,26);
    background: linear-gradient(0deg, rgba(15,0,26,1) 0%, rgba(145,63,0,1) 100%);

    color:rgb(255, 255, 255);

}

.header{

    top: 0;

    left: 0;

    width: 100%;

    padding: 3rem 9%;

   

    align-items: center;

    z-index: 100;



}

h1{

    justify-content: center;

    align-items: center;

    gap: 10rem;

    

    color:#ffffff;

}

p{

    font-size: 17px;

    margin:10rem 0 rem;

}

p1{

    font-size: 17px;

    margin:10rem 0 rem;

    color:red;

}

img{

    border: 1px solid #ddd;

    border-radius: 10px;

    width: 400px;





}
.card{

    backdrop-filter: blur(16px) saturate(180%);
    -webkit-backdrop-filter: blur(16px) saturate(180%);
    background-color: rgba(0, 0, 0, 0.474);
    border-radius: 12px;
    border: 1px solid rgba(255, 255, 255, 0.553);
    margin: 50px 100px;

}